body {
    margin: 0;
    padding: 0;
    background-color: #ffff;
    color: #1a1a1a;
    font-family: Arial, sans-serif;
    overflow: hidden;
    height: 100vh;
}
.top_pane{
    background-color: #1a1a1a;
    color: #fff;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px  10px 20px 10px;
    /* margin:  10px; */
    box-sizing: border-box;
}